@{
    Layout = "_Layout";
}
<div class="container" id="client-container"
    <div class="row">
        <div class="col-sm-12">
            <h2>Udpate Client: @Model["selectedClient"].GetName()</h2>
            <hr />
            <form action="/client/all/@Model["selectedClient"].GetId()/update" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" value="@Model["selectedClient"].GetName()" required>
                </div>
                <div>
                    <label for="stylistId">Reassign a Stylist</label>
                    <select class="form-group" name="stylistId">
                        @foreach (var stylist in Model["allStylists"])
                        {
                        <option value="@stylist.GetId()">@stylist.GetName()</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
            <hr/>
            <form class="inline-form-button" action="/client/all/@Model["selectedClient"].GetId()/delete" method="post">
                <button class="btn btn-danger" type="submit">Delete Client</button>
            </form>
            <hr />
            <a href="/" >Return to Home</a>
        </div>
    </div>
</div>