@{
    Layout = "_Layout";
}

<div class="container" id="add-container">
    <h1>Enter a new Specialty</h1>
    <form class="form" action="/specialty/add" method="post">
        <div class="form-group">
            <label for="description">Enter a Specialty</label>
            <input type="text" name="description">
        </div>
        <button type="submit" class="btn btn-primary" name="button">Add New Specialty</button>
    </form>
</div>