@{
    Layout = "_Layout";
}
<div class="container" id="stylist-container"
    <div class="row">
        <div class="col-sm-12">
            <h2>@Model["selectedSpecialty"].Description</h2>
            <hr />
            <form action="/specialty/all/@Model["selectedSpecialty"].Id/update" method="post">
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" name="description" value="@Model["selectedSpecialty"].Description" required>
                </div>
                <div>
                    <label for="stylistId">Add a Specialist</label>
                    <select class="form-group" name="stylistId">
                        @foreach (var stylist in Model["allStylists"])
                        {
                            if(!(Model["selectedSpecialty"].GetStylists().Contains(@stylist)))
                            { 
                                <option value="@stylist.GetId()">@stylist.GetName()</option>
                            }
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
            <hr/>
            <form class="inline-form-button" action="/specialty/all/@Model["selectedSpecialty"].Id/delete" method="post">
                <button class="btn btn-danger" type="submit">Delete Specialty</button>
            </form>
        </div>
    </div>
</div>