@{
    Layout = "_Layout";
}
<div class='container' id="stylist-container">
    <h1>All Categories</h1>
    <div class="row titles">
        <div class="col-md-5">
            <h4>Stylist Name</h4>
        </div>
        <div class="col-md-3">
            <h4>Stylist Id</h4>
        </div>
        <div class="col-md-3">
            <h4>Clients</h4>
        </div>
    </div>
    @foreach (var stylist in Model)
    {
        <div class="row data">
            <div class="col-md-5">
                <p class="name">@stylist.GetName()</p>
            </div>
            <div class="col-md-3">
                <p>@stylist.GetId()</p>
            </div>
            <div class="col-md-2">
                <ul>
                    @*<li>@Model.GetClients()</li>*@
                </ul>
            </div>
        </div>
    }
</div>
