@{
    Layout = "_Layout";
}
<div class="container" id="stylist-container">
    <h1>@Model.GetName()</h1>
    <h4>@Model.GetDetails()</h4>
    <a class="btn btn-danger" href="/stylist/all/@Model.GetId()/update">Update Stylist</a>
    <div class="row titles">
        <div class="col-md-5">
            <h4>Clients</h4>
        </div>
    </div>
    @foreach (var client in Model.FindClients())
    {
    <div class="row data">
        <div class="col-md-5">
            <p class="name">@client.GetName()</p>
        </div>
    </div>
    }
</div>
