@{
    Layout = "_Layout";
}
<div class="container" id="stylist-container">
    <h1>@Model.GetName()</h1>
    <h4>Details: @Model.GetDetails()</h4>
    <a class="btn btn-success" href="/stylist/all/@Model.GetId()/update">Update Stylist</a>
    <div class="row titles clients">
        <div class="col-md-5">
            <h4>Clients</h4>
        </div>
    </div>
    <div class="row data clients">
        @foreach (var client in Model.FindClients())
        {
        <div class="col-md-5">
            <h5 class="name">@client.GetName()</h5>
        </div>
        }
    </div>
    <div class="row titles specialties">
        <div class="col-md-5">
            <h4>Specialties</h4>
        </div>
    </div>
    <div class="row data specialties">
        @foreach (var specialty in Model.GetSpecialties())
        {
        <div class="col-md-5">
            <h5 class="name">@specialty.Description</h5>
        </div>
        }
    </div>
</div>


